body {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 25%;
    background-image: url(./images/mountain.jpg);
}

html {
    font-weight: 200;
    font-family: "PT-Sans", sans-serif;
}